# Docker context ignore list
.azure
.github
.git
.idea
.vagrant
AntennaTracker
Rover
# ArduCopter # Don't ignore this
ArduPlane
ArduSub
benchmarks
# build
docs
libraries
mk
modules
tests
Tools # Don't ignore this either
# autotest directories
test.*
terrain
logs
# mavproxy stuff
mav.*

# include the setup script and completion
!Tools/environment_install/install-prereqs-ubuntu.sh
!Tools/completion
